body{
    background-color: rgb(223, 208, 192);
}

header h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(79, 76, 57);
    padding: 20px;
    text-align: center;
    font-size: x-large;

}
nav {
    background-color: rgb(177, 188, 160);
    padding: 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
main p{
    font-family: cursive;
}
main blockquote{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
main h2{
    font-family: fantasy;
}
.forbold{
    font-size: large;
    font-family: monospace;
    font-family: cursive;
}
.other{
    color: crimson;
    font-size: larger;
}
#higlights{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(2, 114, 94);
}
