body {
    background-image: url("Backgroundimage1.png");
    background-size: cover;
    background-repeat: repeat;
}
header h1 {
    background-color: antiquewhite;
    padding: 20px;
    font-family: cursive;
    text-align: center;
}
main li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-size: large;

}
main p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer {
    background-color: antiquewhite;
    padding: 20px;
    font-family: cursive;
    text-align: center;
}
.decorative {
    background-image: url("jet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 300pxx;  
}
main li{
    padding-left: 20px;
    background-color: lightcoral;
    font-style: normal;
}