body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: lavender;
}
.cardflex {
    background-color: #33ca01;
    border: 1px solid #c80707;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    width: 150px;
}
#parcent {
    display: flex;
    /*flex-direction: column-reverse;*/
    gap: 5px;
   /* flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
}