body{
    background-color: #91e4f3;
    font-family: Arial, sans-serif;
    grid-template-areas: 
        "header header header"
        "side main main"
        "footer footer footer";
}
.card{
    background-color: rgb(1, 10, 58);
    color: burlywood;
    margin: 1px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
nav{
    grid-area: "header";
}
nav a{
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}
nav a:hover{
    color: rgb(0, 191, 255);
    background-color: skyblue;
}
nav a{
    display: inline-block;
    margin-right: 20px;
    margin: auto;
}
main{

    grid-area: "main";
}
footer{
    grid-area: "footer";
}
main li{
    font-family: 'Poppins', sans-serif;
}
main h2{
    font-family: 'Courier New', Courier, monospace;
}
footer{
    padding: 20px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
}