header h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkgray;
    padding: 15px;
    text-align: center;
}
nav{
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    text-align: right;

}
main h2 {
    font-family: Arial, Helvetica, sans-serif;
    
}