body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: radial-gradient(circle at center, #0B1F3A 0%, #05070D 70%);
    font-family: Arial, sans-serif;
    color: white;
}
header h1{
    text-shadow: #023093;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    font-size: 3em;
    font-family: 'Orbitron', sans-serif;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 20vh;
    padding: 1px 1px;
    display: auto;
    justify-content: space-between;
    align-items: center;
    background: rgba(10, 15, 30, 0.6);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 191, 255, 0.3);
}
nav a {
    color: rgb(10, 10, 57);
    text-decoration: none;
    margin: auto;
    font-size: 18px;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #e70a20;
    background-color: skyblue;
}
nav a{
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.838);
    padding: 20px 20px;
    border: thin rgb(255, 238, 0) solid;
    border-radius: 5px 5px 5px;

}
nav ul {
    list-style: none;
    display: flex;
    margin: 0%;
    padding: 40px 40px;
    gap: 20px;
}
main{
    margin: 10px 10px;
    padding: auto;
    gap: 40px;
}
main h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5em;
    color: #00bfff;

}
main h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    color: #04ffff;

}
main p {
    font-family: 'Poppins', sans-serif;
    font-size: larger;
}
footer {
    text-align: center;
    padding: 20px;
    background: rgba(10, 15, 30, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid rgba(0, 191, 255, 0.3);
}
figure img{
    width: 100%;
    height: auto;
}
.floatleft{
    float: left;
    margin-right: 20px;

}
.position{
    width: 400px;
    border: thin solid black;
    
}
.padding{
    padding: 0px;
    box-shadow: #00bfff 0px 0px 5px;
    text-align: center;
    border-radius: 20%;
}
.margin{
    margin: 20px 80px;
}
.shade{
    box-shadow: 0px 0px 10px #00bfff;
    border-radius: 10px;
}
.textshadow{
    text-shadow: 0px 0px 5px #00bfff;
}
.texttransform{
    text-transform: uppercase;
}
.nav{
    margin: auto;
}