body {
    background-image: url("Backgroundimage1.png");
    background-size: cover;
    background-repeat:repeat;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 5;
  gap: 10px;
}
nav {

  display:inline-block;
}

nav a {
  text-decoration: none;
  color: #0112ff;
  padding: 10px 15px;
  display: block;
  border: thin rgb(10, 42, 202) solid;
  border-radius: 5px 5px 5px;

}
nav a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  background-color: aliceblue;
  padding: 20px 20px;
}

main p {
  font-family: cursive;
  font-size: larger;
}
main h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: xx-large;
}

div img {
  width: 45vw;
  margin-right: 40;
  height: auto;
  flex-shrink: 0;
  display: inline;

}
.igm {
  width: 100px;
  margin-right: 40;
  height: auto;
  flex-shrink: 0;
}


.my-list {
  list-style: none;
  padding-left: 0;
}
.this-list {
  list-style: none;
  padding-left: 0;
}
.this-list li {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.this-list li::before {
  content: "";
  width: 18px;
  height: 12px;
  margin-right: 8px;
  background-image: url("pinoy.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0 0 18px;
}
.photo{
  width: 45vw;
  height: 30vw;
}

.label{
  color: rgb(9, 236, 9);
}
.label2{
  color: thistle;
}
.label3{
  color: darkolivegreen;
}
.label4{
  color: lightcoral;
}
.label5{
  color: rgb(228, 16, 133);
}
.label6{
  color: rgb(20, 201, 4);
}