header h1 {
    color: rgb(205, 149, 76);
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;

}

nav {
    color: rgb(255, 199, 115);
    font-family: 'Times New Roman', Times, serif;
}
main p {
    font-family: cursive;
}
main h2 {

    
}